<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_PATTERN"
              value="%d{dd-MM-yyyy HH:mm:ss.SSS} %thread %-5level %logger{36}.%M - %msg%n"/>
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE_NAME" value="output"/>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${LOG_PATH}/archived/${LOG_FILE_NAME}_%d-%i.log</fileNamePattern>
            <!-- Keep history or 120 days -->
            <maxHistory>120</maxHistory>
            <!-- Max history size 100MB -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- Max file size, %i, is mandatory to use in fileName if using maxFileSize -->
            <maxFileSize>10KB</maxFileSize>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>